.dashboard_container {
  .title {
    margin: 4rem 1rem 0;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
  }

  .no_result {
    text-align: center;
    margin-top: 2.5rem;
  }
}
